@model KouTrashCollector.Models.Worker


    @{
        ViewBag.Title = "EditWorker";
    }

   <center> <h3>Employee Information Update</h3></center>
<div class="row">
    <div class="col-md-6">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
       
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)

            <div class="form-group">
                @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.EmailAddress, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.EmailAddress, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.EmailAddress, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ZipcodeTerritoryId, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ZipcodeTerritoryId, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ZipcodeTerritoryId, "", new { @class = "text-danger" })
                </div>
            </div>

            

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                    <button type="submit" class="btn btn-primary" style="color:white"> @Html.ActionLink("Return to Employee List", "Index")</button>
                </div>
            </div>
        </div>
    }




</div>

    <div class="col-md-6">
    
        <h4>Territory Chart</h4>
        <table style="width:30%" height="50" border="1">
            <tr>
                <td align="center"><b>Zipcode Territory</b></td>
            </tr>
            <tr>
                <td align="center"><b>1</b></td>
                <td align="center"><b>53233</b></td>
            </tr>
            <tr>
                <td align="center">2</td>
                <td align="center">53208</td>
            </tr>
            <tr>
                <td align="center"><b>3</b></td>
                <td align="center"><b>53218</b></td>
            </tr>
            <tr>
                <td align="center">4</td>
                <td align="center">53219</td>
            </tr>
            <tr>
                <td align="center"><b>5</b></td>
                <td align="center"><b>53223</b></td>
            </tr>
            <tr>
                <td align="center">6</td>
                <td align="center">53225</td>
            </tr>
            <tr>
                <td align="center"><b>7</b></td>
                <td align="center"><b>53224</b></td>
            </tr>
            <tr>
                <td align="center">8</td>
                <td align="center">53217</td>
            </tr>
            <tr>
                <td align="center"><b>9</b></td>
                <td align="center"><b>53129</b></td>
            </tr>

        </table>
    </div>
    </div>