@model KouTrashCollector.ViewModel.CustomerForm
 @{  ViewBag.Title = "CustomerForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<center>
<h2>Update Information</h2>
    </center>
<br />
<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">

        @using (Html.BeginForm("Save", "Customers"))
            {
            <div class="form-group">
                @Html.LabelFor(m => m.Customer.FirstName)
                @Html.TextBoxFor(m => m.Customer.FirstName, new { @class = "form-control" })
            </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Customer.LastName)
                    @Html.TextBoxFor(m => m.Customer.LastName, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Customer.Email)
                    @Html.TextBoxFor(m => m.Customer.Email, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Customer.StreetOne)
                    @Html.TextBoxFor(m => m.Customer.StreetOne, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Customer.City)
                    @Html.DropDownListFor(m => m.Customer.CityId, new SelectList(Model.Cities, "Id", "CityName"), new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Customer.State)
                    @Html.DropDownListFor(m => m.Customer.StateId, new SelectList(Model.States, "Id", "StateName"),new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Customer.Zipcode)
                    @Html.DropDownListFor(m => m.Customer.ZipcodeId, new SelectList(Model.Zipcodes, "Id", "ZipcodeNum"),new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Customer.MembershipType)
                    @Html.DropDownListFor(m => m.Customer.MembershipTypeId, new SelectList(Model.MembershipTypes, "Id", "MembershipName"), new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Customer.PickUpDay)
                    @Html.DropDownListFor(m => m.Customer.PickUpDayId, new SelectList(Model.PickUpDays, "Id", "DayOfWeek"), new { @class = "form-control" })
                </div>
                <div>
                    <label>
                        @Html.LabelFor(m => m.Customer.StartDate)
                        @Html.TextBoxFor(m => m.Customer.StartDate, new { @class = "form-control" })
                    </label>
                </div>

                @Html.HiddenFor(m => m.Customer.Id)
                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="submit" class="btn btn-primary" style="color:white"> @Html.ActionLink("Return to Customer List", "Index")</button>
        }


    </div>
    <div class="col-md-4">
    </div>
</div>

