@model KouTrashCollector.Models.Customer
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-4">
    </div>

    <div class="col-md-4">
        <h2>@Model.FirstName @Model.LastName</h2>
        <br />
     
        <ul>
            <li>Email: @Model.Email</li>
            <li>Street 1: @Model.StreetOne</li>
            <li>City: @Model.City.CityName</li>
            <li>State: @Model.State.StateName</li>
            <li>Zip code: @Model.Zipcode.ZipcodeNum</li>
            <li>Membership Type: @Model.MembershipType.MembershipName</li>
        </ul>


<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
    <input type="hidden" name="cmd" value="_s-xclick">
    <input type="hidden" name="hosted_button_id" value="USZC9KPBTPDC4">
    <table>
        <tr><td><input type="hidden" name="on0" value="Membership type">Membership type</td></tr>
        <tr>
            <td>
                <select name="os0" style="color:black">



                    @if (Model.MembershipType.MembershipName == "Once a Week")
                    {
                    
                        <option value="Once a Week">$25</option>
                    }
                    else if (Model.MembershipType.MembershipName == "Twice a Week")
                    {
                        <option value="Twice a Week">$35 </option>
                    }
                    else if (Model.MembershipType.MembershipName == "Once a Month")
                    {
                        <option value="Once a Month">$8 </option>
                    }
                    else if (Model.MembershipType.MembershipName == "Twice a Month")
                    {
                        <option value="Twice a Month">$15 </option>
                    }
                    else
                    {
                        <option value="None"> $0 </option>
                    }

                </select>
            </td>
        </tr>
    </table>
    <input type="hidden" name="currency_code" value="USD">
    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
        <br />

        <button type="submit" class="btn btn-primary" style="color:white"> @Html.ActionLink("Return to Customer List", "Index")</button>

